/********** NAVBAR ************/

.nav-title-custom {
  font-size: 35px;
  color: #ff6600 !important;
}

.nav-title-custom:hover {
  text-shadow: 0 0 5px #ff6600;
}
.nav-link-custom {
  font-size: 24px;
  padding: 0 10px;
  color: white !important;
}

.nav-link-custom:hover {
  color: #ff6600 !important;
}

/********** JUMBOTRON ************/

.jumbo-custom {
  color: black;
  background-color: #cf5300 !important;
  padding: 30px 0;
}

.jumbo-title-custom {
  margin-bottom: 30px;
  text-align: center;
}

.jumbo-button-custom {
  font-size: 30px;
  padding: 5px;
}

.member-names {
  margin-bottom: 30px;
}

.member-names li {
  padding: 0 30px;
  font-size: 24px;
  display: inline;
  border-right: 2px solid black;
}

.member-names li:last-child {
  border: 0;
}

.member-names a {
  color: black;
  text-decoration: none;
}

.member-names a:hover {
  text-shadow: 0 0 1px black;
}

/********** TEAM STATISTICS ************/

.team-stats-custom {
  font-size: 24px;
  max-width: 950px;
  display: grid;
  grid-template-columns: 475px 475px;
  border-bottom: 3px solid white;
  margin: auto;
  margin-top: 30px;
  justify-items: center;
}

.team-stats-custom a {
  text-decoration: none;
  color: #ff6600;
}

.team-stats-custom a:hover {
  text-shadow: 0 0 2px #ff6600;
}

.team-stats,
.team-links {
  text-align: center;
}
.team-stats,
.relevant-links {
  margin: 0 0 20px 0;
  padding: 0;
  list-style-type: none;
}

/********** DEVELOPMENT TOOLS ************/

.development-tools-custom {
  font-size: 24px;
  max-width: 950px;
  display: grid;
  grid-template-columns: 950px;
  border-bottom: 3px solid white;
  margin: auto;
  margin-top: 10px;
  justify-items: center;
  padding: 0;
}

.development-tools-custom a {
  text-decoration: none;
  color: #ff6600;
}

.development-tools-custom a:hover {
  text-shadow: 0 0 2px #ff6600;
}

.development-tools-custom h2 {
  margin-bottom: 30px;
}

.development-stats li {
  display: inline;
  padding: 0 30px;
}

.development-stats li:last-child {
  border: 0;
}

/********** DATA SOURCES ************/

.data-sources-custom {
  font-size: 24px;
  max-width: 950px;
  display: grid;
  grid-template-columns: 950px;
  border-bottom: 3px solid white;
  margin: auto;
  margin-top: 10px;
  justify-items: center;
  padding: 0;
}

.data-sources-custom p {
  font-size: 18px;
}

.data-sources-custom a {
  text-decoration: none;
  color: #ff6600;
}

.data-sources-custom a:hover {
  text-shadow: 0 0 2px #ff6600;
}

.data-sources-custom h2 {
  margin-bottom: 30px;
}

.data-sources-list li {
  display: inline;
  padding: 0 30px;
}

.data-sources-list li:last-child {
  border: 0;
}

/********** INDIVIDUAL PROFILES ************/

.profile-custom {
  font-size: 24px;
  max-width: 950px;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 3px solid white;
  margin: auto;
  margin-top: 30px;
  justify-items: center;
}

.profile-photo {
  margin-right: 10px;
  margin-left: 20px;
  max-width: 250px;
}

.profile-info {
  margin-right: 10px;
  margin-left: 10px;
  min-width: 300px;
  max-width: 650px;
  justify-self: flex-end;
}

.profile-stats {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
}

.profile-stats li {
  padding: 0 30px;
  display: inline;
}

.end-of-page {
  height: 550px;
}
