/********** NAVBAR ************/

.nav-title-custom {
  font-size: 35px;
  color: #ff6600 !important;
}

.nav-title-custom:hover {
  text-shadow: 0 0 5px #ff6600;
}
.nav-link-custom {
  font-size: 24px;
  padding: 0 10px;
  color: white !important;
}

.nav-link-custom:hover {
  color: #ff6600 !important;
}

.back-button-custom {
  margin-left: 10%;
  margin-top: 10px;
}

/********** GAME SUMMARY ************/
.card-deck-custom {
  margin-top: 50px;
}

.card-custom {
  padding: 0;
}
.card-header-custom {
  color: white;
  background-color: black;
  margin: 0;
  padding: 0;
}

.card-header-custom h4 {
  font-size: 40px;
}

/********** GAME DATA ************/

.vs-custom {
  color: white;
  font-size: 50px;
  margin-top: 120px;
  text-align: center;
  align-items: center;
}
.game-custom {
  font-size: 30px;
  color: white;
  padding: 0;
}

.game-custom li {
  padding: 10px 0;
}

.game-custom a {
  text-decoration: none;
  color: #ff6600;
}

.game-custom a:hover {
  text-shadow: 0 0 2px #ff6600;
}

.attribute-separator {
  font-size: 20px;
  color: rgb(122, 121, 121);
}

.win {
  color: rgb(1, 189, 1);
}

.lose {
  color: rgb(241, 52, 52);
}

/********** PLAYER TABLE ************/

.game-body-custom {
  padding: 0;
}

.player-table-custom thead {
  font-size: 20px;
}

.player-table-custom a {
  text-decoration: none;
  color: #ff6600;
}

.player-table-custom a:hover {
  text-shadow: 0 0 2px #ff6600;
}
