/********** NAVBAR ************/

.nav-title-custom {
  font-size: 35px;
  color: #ff6600 !important;
}

.nav-title-custom:hover {
  text-shadow: 0 0 5px #ff6600;
}
.nav-link-custom {
  font-size: 24px;
  padding: 0 10px;
  color: white !important;
}

.nav-link-custom:hover {
  color: #ff6600 !important;
}

/********** TEAMS TABLE ************/

.team-container-custom {
  margin-top: 50px;
}

.team-container-custom h2 {
  color: white;
}

.team-container-custom a {
  text-decoration: none;
  color: #ff6600;
}

.team-container-custom a:hover {
  text-shadow: 0 0 2px #ff6600;
}
