Help on module models:

NAME
    models

DESCRIPTION
    # ---------------------------
    # projects/IDB3/models.py
    # ---------------------------

CLASSES
    sqlalchemy.ext.declarative.api.Model(flask_sqlalchemy.model.Model)
        Game
        Player
        Team
    
    class Game(sqlalchemy.ext.declarative.api.Model)
     |  Game(**kwargs)
     |  
     |  Game class has six attrbiutes 
     |  id
     |  date
     |  homeID
     |  visitorID
     |  home_score
     |  visitor_score
     |  
     |  Method resolution order:
     |      Game
     |      sqlalchemy.ext.declarative.api.Model
     |      flask_sqlalchemy.model.Model
     |      builtins.object
     |  
     |  Methods defined here:
     |  
     |  __init__(self, **kwargs)
     |      A simple constructor that allows initialization from kwargs.
     |      
     |      Sets attributes on the constructed instance using the names and
     |      values in ``kwargs``.
     |      
     |      Only keys that are present as
     |      attributes of the instance's class are allowed. These could be,
     |      for example, any mapped columns or relationships.
     |  
     |  values(self)
     |  
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |  
     |  date
     |  
     |  game_id
     |  
     |  homeID
     |  
     |  home_score
     |  
     |  visitorID
     |  
     |  visitor_score
     |  
     |  ----------------------------------------------------------------------
     |  Data and other attributes defined here:
     |  
     |  __mapper__ = <Mapper at 0x7fd37db64518; Game>
     |  
     |  __table__ = Table('game', MetaData(bind=None), Column('game_...isitorI...
     |  
     |  __tablename__ = 'game'
     |  
     |  ----------------------------------------------------------------------
     |  Data and other attributes inherited from sqlalchemy.ext.declarative.api.Model:
     |  
     |  metadata = MetaData(bind=None)
     |  
     |  query = <flask_sqlalchemy.BaseQuery object>
     |  
     |  query_class = <class 'flask_sqlalchemy.BaseQuery'>
     |      SQLAlchemy :class:`~sqlalchemy.orm.query.Query` subclass with convenience methods for querying in a web application.
     |      
     |      This is the default :attr:`~Model.query` object used for models, and exposed as :attr:`~SQLAlchemy.Query`.
     |      Override the query class for an individual model by subclassing this and setting :attr:`~Model.query_class`.
     |  
     |  ----------------------------------------------------------------------
     |  Methods inherited from flask_sqlalchemy.model.Model:
     |  
     |  __repr__(self)
     |      Return repr(self).
     |  
     |  ----------------------------------------------------------------------
     |  Data descriptors inherited from flask_sqlalchemy.model.Model:
     |  
     |  __dict__
     |      dictionary for instance variables (if defined)
     |  
     |  ----------------------------------------------------------------------
     |  Data and other attributes inherited from flask_sqlalchemy.model.Model:
     |  
     |  __weakref__ = <weakref at 0x7fd37db56cc8; to 'DefaultMeta' at 0x7fd37c...
    
    class Player(sqlalchemy.ext.declarative.api.Model)
     |  Player(**kwargs)
     |  
     |  Player class has seven attrbiutes 
     |  id
     |  name
     |  teamID
     |  position
     |  height_feet
     |  height_inches
     |  weight
     |  
     |  Method resolution order:
     |      Player
     |      sqlalchemy.ext.declarative.api.Model
     |      flask_sqlalchemy.model.Model
     |      builtins.object
     |  
     |  Methods defined here:
     |  
     |  __init__(self, **kwargs)
     |      A simple constructor that allows initialization from kwargs.
     |      
     |      Sets attributes on the constructed instance using the names and
     |      values in ``kwargs``.
     |      
     |      Only keys that are present as
     |      attributes of the instance's class are allowed. These could be,
     |      for example, any mapped columns or relationships.
     |  
     |  values(self)
     |  
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |  
     |  assists
     |  
     |  blocks
     |  
     |  game_list
     |  
     |  games
     |  
     |  height_feet
     |  
     |  height_inches
     |  
     |  name
     |  
     |  player_id
     |  
     |  points
     |  
     |  position
     |  
     |  rebounds
     |  
     |  steals
     |  
     |  team
     |  
     |  teamID
     |  
     |  weight
     |  
     |  ----------------------------------------------------------------------
     |  Data and other attributes defined here:
     |  
     |  __mapper__ = <Mapper at 0x7fd37db38ac8; Player>
     |  
     |  __table__ = Table('player', MetaData(bind=None), Column('pla...('block...
     |  
     |  __tablename__ = 'player'
     |  
     |  ----------------------------------------------------------------------
     |  Data and other attributes inherited from sqlalchemy.ext.declarative.api.Model:
     |  
     |  metadata = MetaData(bind=None)
     |  
     |  query = <flask_sqlalchemy.BaseQuery object>
     |  
     |  query_class = <class 'flask_sqlalchemy.BaseQuery'>
     |      SQLAlchemy :class:`~sqlalchemy.orm.query.Query` subclass with convenience methods for querying in a web application.
     |      
     |      This is the default :attr:`~Model.query` object used for models, and exposed as :attr:`~SQLAlchemy.Query`.
     |      Override the query class for an individual model by subclassing this and setting :attr:`~Model.query_class`.
     |  
     |  ----------------------------------------------------------------------
     |  Methods inherited from flask_sqlalchemy.model.Model:
     |  
     |  __repr__(self)
     |      Return repr(self).
     |  
     |  ----------------------------------------------------------------------
     |  Data descriptors inherited from flask_sqlalchemy.model.Model:
     |  
     |  __dict__
     |      dictionary for instance variables (if defined)
     |  
     |  ----------------------------------------------------------------------
     |  Data and other attributes inherited from flask_sqlalchemy.model.Model:
     |  
     |  __weakref__ = <weakref at 0x7fd37db36598; to 'DefaultMeta' at 0x7fd37a...
    
    class Team(sqlalchemy.ext.declarative.api.Model)
     |  Team(**kwargs)
     |  
     |  Team class has six attrbiutes 
     |  id
     |  name
     |  city
     |  abbreviation
     |  division
     |  conferencex
     |  
     |  Method resolution order:
     |      Team
     |      sqlalchemy.ext.declarative.api.Model
     |      flask_sqlalchemy.model.Model
     |      builtins.object
     |  
     |  Methods defined here:
     |  
     |  __init__(self, **kwargs)
     |      A simple constructor that allows initialization from kwargs.
     |      
     |      Sets attributes on the constructed instance using the names and
     |      values in ``kwargs``.
     |      
     |      Only keys that are present as
     |      attributes of the instance's class are allowed. These could be,
     |      for example, any mapped columns or relationships.
     |  
     |  values(self)
     |  
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |  
     |  abbr
     |  
     |  city
     |  
     |  conference
     |  
     |  division
     |  
     |  games
     |  
     |  name
     |  
     |  players
     |  
     |  team_id
     |  
     |  ----------------------------------------------------------------------
     |  Data and other attributes defined here:
     |  
     |  __mapper__ = <Mapper at 0x7fd37db64080; Team>
     |  
     |  __table__ = Table('team', MetaData(bind=None), Column('team_...', Stri...
     |  
     |  __tablename__ = 'team'
     |  
     |  ----------------------------------------------------------------------
     |  Data and other attributes inherited from sqlalchemy.ext.declarative.api.Model:
     |  
     |  metadata = MetaData(bind=None)
     |  
     |  query = <flask_sqlalchemy.BaseQuery object>
     |  
     |  query_class = <class 'flask_sqlalchemy.BaseQuery'>
     |      SQLAlchemy :class:`~sqlalchemy.orm.query.Query` subclass with convenience methods for querying in a web application.
     |      
     |      This is the default :attr:`~Model.query` object used for models, and exposed as :attr:`~SQLAlchemy.Query`.
     |      Override the query class for an individual model by subclassing this and setting :attr:`~Model.query_class`.
     |  
     |  ----------------------------------------------------------------------
     |  Methods inherited from flask_sqlalchemy.model.Model:
     |  
     |  __repr__(self)
     |      Return repr(self).
     |  
     |  ----------------------------------------------------------------------
     |  Data descriptors inherited from flask_sqlalchemy.model.Model:
     |  
     |  __dict__
     |      dictionary for instance variables (if defined)
     |  
     |  ----------------------------------------------------------------------
     |  Data and other attributes inherited from flask_sqlalchemy.model.Model:
     |  
     |  __weakref__ = <weakref at 0x7fd37db56548; to 'DefaultMeta' at 0x7fd37d...

DATA
    app = <Flask 'models'>
    association_table = Table('association', MetaData(bind=None), Column.....
    db = <SQLAlchemy engine=postgres://postgres:***@104.198.145.33/postgre...
    link = Table('link', MetaData(bind=None), Column('team_...nKey('game.g...

FILE
    /Users/lina/cs373-idb/app/models.py


