<!DOCTYPE html>
<html>
  <head>
    <title>Game</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="static/css/game-styles.css" />
  </head>
  <body class="bg-secondary">
    <!----------------- NAVBAR  ---------------->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <a class="navbar-brand nav-title-custom" href="{{url_for('index')}}"
        >The Hoop Scoop</a
      >
      <button
        class="navbar-toggler bg-secondary"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-md-auto">
          <li class="nav-item my-2 active">
            <a class="nav-link nav-link-custom" href="{{url_for('index')}}">Home</a>
          </li>
          <li class="nav-item my-2 active">
            <a class="nav-link nav-link-custom" href="{{url_for('players')}}">Players</a>
          </li>
          <li class="nav-item my-2 active">
            <a class="nav-link nav-link-custom" href="{{url_for('teams')}}">Teams</a>
          </li>
          <li class="nav-item my-2 active">
            <a class="nav-link nav-link-custom" href="{{url_for('games')}}">Games</a>
          </li>
          <li class="nav-item my-2 active" style="margin-right: 20px;">
            <a class="nav-link nav-link-custom" href="{{url_for('about')}}">About</a>
          </li>
        </ul>
      </div>
    </nav>

    <!----------------- GAME SUMMARY  ---------------->
    <a class="btn btn-dark back-button-custom" href="{{url_for('games')}}">
      &laquo; Back to Games
    </a>
    <div class="section-cards container">
      <div class="card-deck text-center card-deck-custom">
        <div class="container">
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="card mb-5 shadow-sm bg-dark col-sm-4 card-custom">
              <div class="card-header card-header-custom">
                <h4 class="card-header-text-custom">HOME</h4>
              </div>
              <div class="card-body game-custom">
                <ul class="list-unstyled mt-3 mb-4 attribute-list-custom">
                  <li><a href="{{url_for('team')}}">Houston Rockets</a></li>
                  <div class="attribute-separator">-----------</div>
                  <li class="win">128</li>
                </ul>
              </div>
              <div class="card-body game-body-custom">
                <!----------------- PLAYER TABLE  ---------------->
                <div class="table-responsive player-table-custom">
                  <table class="table table-dark table-striped table-sm">
                    <thead>
                      <tr>
                        <th>Players</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><a href="{{url_for('player')}}">Lebron James</a></td>
                      </tr>
                      <tr>
                        <td><a href="{{url_for('player')}}">Giannis Antetokounmpo</a></td>
                      </tr>
                      <tr>
                        <td><a href="{{url_for('player')}}">Kawhi Leonard</a></td>
                      </tr>
                      <tr>
                        <td><a href="{{url_for('player')}}">Anthony Davis</a></td>
                      </tr>
                      <tr>
                        <td><a href="{{url_for('player')}}">Luka Doncic</a></td>
                      </tr>
                      <tr>
                        <td><a href="{{url_for('player')}}">Joel Embiid</a></td>
                      </tr>
                      <tr>
                        <td><a href="{{url_for('player')}}">Pascal Siakam</a></td>
                      </tr>
                      <tr>
                        <td><a href="{{url_for('player')}}">Kemba Walker</a></td>
                      </tr>
                      <tr>
                        <td><a href="{{url_for('player')}}">Trae Young</a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-sm-2 vs-custom">VS</div>
            <div class="card mb-5 shadow-sm bg-dark col-sm-4 card-custom">
              <div class="card-header card-header-custom">
                <h4 class="card-header-text-custom">AWAY</h4>
              </div>
              <div class="card-body game-custom">
                <ul class="list-unstyled mt-3 mb-4 attribute-list-custom">
                  <li><a href="{{url_for('team')}}">Dallas Mavericks</a></li>
                  <div class="attribute-separator">-----------</div>
                  <li class="lose">121</li>
                </ul>
              </div>
              <div class="card-body game-body-custom">
                <!----------------- PLAYER TABLE  ---------------->
                <div class="table-responsive player-table-custom">
                  <table class="table table-dark table-striped table-sm">
                    <thead>
                      <tr>
                        <th>Players</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><a href="{{url_for('player')}}">Lebron James</a></td>
                      </tr>
                      <tr>
                        <td><a href="{{url_for('player')}}">Giannis Antetokounmpo</a></td>
                      </tr>
                      <tr>
                        <td><a href="{{url_for('player')}}">Kawhi Leonard</a></td>
                      </tr>
                      <tr>
                        <td><a href="{{url_for('player')}}">Anthony Davis</a></td>
                      </tr>
                      <tr>
                        <td><a href="{{url_for('player')}}">Luka Doncic</a></td>
                      </tr>
                      <tr>
                        <td><a href="{{url_for('player')}}">Joel Embiid</a></td>
                      </tr>
                      <tr>
                        <td><a href="{{url_for('player')}}">Pascal Siakam</a></td>
                      </tr>
                      <tr>
                        <td><a href="{{url_for('player')}}">Kemba Walker</a></td>
                      </tr>
                      <tr>
                        <td><a href="{{url_for('player')}}">Trae Young</a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-sm-1"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
