<!DOCTYPE html>
<html>
  <head>
    <title>Games</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="static/css/games-styles.css" />
  </head>
  <body class="bg-secondary">
    <!----------------- NAVBAR  ---------------->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <a class="navbar-brand nav-title-custom" href="{{url_for('index')}}"
        >The Hoop Scoop</a
      >
      <button
        class="navbar-toggler bg-secondary"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-md-auto">
          <li class="nav-item my-2 active">
            <a class="nav-link nav-link-custom" href="{{url_for('index')}}"
              >Home</a
            >
          </li>
          <li class="nav-item my-2 active">
            <a class="nav-link nav-link-custom" href="{{url_for('players')}}"
              >Players</a
            >
          </li>
          <li class="nav-item my-2 active">
            <a class="nav-link nav-link-custom" href="{{url_for('teams')}}"
              >Teams</a
            >
          </li>
          <li class="nav-item my-2 active">
            <a class="nav-link nav-link-custom" href="{{url_for('games')}}"
              >Games</a
            >
          </li>
          <li class="nav-item my-2 active" style="margin-right: 20px;">
            <a class="nav-link nav-link-custom" href="{{url_for('about')}}"
              >About</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <!----------------- GAMES TABLE  ---------------->
    <div class="container game-container-custom">
      <h2>NBA Games</h2>
      <div class="table-responsive text-center">
        <table class="table table-dark table-striped table-sm">
          <thead>
            <tr>
              <th>Date</th>
              <th>Home Team</th>
              <th>Home Team Score</th>
              <th>-</th>
              <th>Visitor Team Score</th>
              <th>Visitor Team</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="{{url_for('game')}}">01/31/2020</a></td>
              <td><a href="{{url_for('team')}}">Houston Rockets</a></td>
              <td class="win">128</td>
              <td>-</td>
              <td class="lose">121</td>
              <td><a href="{{url_for('team')}}">Dallas Mavericks</a></td>
            </tr>
            <tr>
              <td><a href="{{url_for('game')}}">12/26/2019</a></td>
              <td><a href="{{url_for('team')}}">Dallas Mavericks</a></td>
              <td class="win">102</td>
              <td>-</td>
              <td class="lose">98</td>
              <td><a href="{{url_for('team')}}">San Antonio Spurs</a></td>
            </tr>
            <tr>
              <td><a href="{{url_for('game')}}">01/31/20</a></td>
              <td><a href="{{url_for('team')}}">San Antonio Spurs</a></td>
              <td class="lose">133</td>
              <td>-</td>
              <td class="win">135</td>
              <td><a href="{{url_for('team')}}">Houston Rockets</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <img src="static/images/games-page-picture.jpg" alt="nba game" />
    </div>
  </body>
</html>
