<!DOCTYPE html>
<html>
  <head>
    <title>Team</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="static/css/team-styles.css" />
  </head>
  <body class="bg-secondary" style="color: white;">
    <!----------------- NAVBAR  ---------------->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand nav-title-custom" href="{{url_for('index')}}"
        >The Hoop Scoop</a
      >
      <button
        class="navbar-toggler bg-secondary"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-md-auto">
          <li class="nav-item my-2 active">
            <a class="nav-link nav-link-custom" href="{{url_for('index')}}">Home</a>
          </li>
          <li class="nav-item my-2 active">
            <a class="nav-link nav-link-custom" href="{{url_for('players')}}">Players</a>
          </li>
          <li class="nav-item my-2 active">
            <a class="nav-link nav-link-custom" href="{{url_for('teams')}}">Teams</a>
          </li>
          <li class="nav-item my-2 active">
            <a class="nav-link nav-link-custom" href="{{url_for('games')}}">Games</a>
          </li>
          <li class="nav-item my-2 active" style="margin-right: 20px;">
            <a class="nav-link nav-link-custom" href="{{url_for('about')}}">About</a>
          </li>
        </ul>
      </div>
    </nav>

    <!----------------- TEAM DATA ---------------->
    <a class="btn btn-dark back-button-custom" href="{{url_for('teams')}}">
      &laquo; Back to Teams
    </a>
    <div class="section-cards container">
      <div class="card-deck text-center content-custom">
        <div class="container">
          <div class="row">
            <div
              class="card mb-4 shadow-sm col-sm-7 bg-dark card-header-custom"
            >
              <div class="card-header card-header-text-custom">
                <h4>Houston Rockets</h4>
              </div>
              <div class="card-body team-custom">
                <ul class="list-unstyled mt-3 mb-4 attribute-list-custom">
                  <li><b>Abbreviation:</b> HOU</li>
                  <div class="attribute-separator">-----------</div>
                  <li><b>Conference:</b> West</li>
                  <div class="attribute-separator">-----------</div>
                  <li><b>Division:</b> Southwest</li>
                  <div class="attribute-separator">-----------</div>
                  <li><b>City:</b> Houston</li>
                </ul>
              </div>
            </div>
            <!----------------- GAMES LINK ---------------->
            <div class="right column col-sm-5">
              <div class="card mb-5 shadow-sm bg-dark games-link-custom">
                <a href="{{url_for('games')}}">Past Games</a>
              </div>
              <!----------------- PLAYER TABLE ---------------->
              <div class="table-responsive player-table-custom">
                <table class="table table-dark table-striped table-sm">
                  <thead>
                    <tr>
                      <th>Players</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><a href="{{url_for('player')}}">Lebron James</a></td>
                    </tr>
                    <tr>
                      <td><a href="{{url_for('player')}}">Giannis Antetokounmpo</a></td>
                    </tr>
                    <tr>
                      <td><a href="{{url_for('player')}}">Kawhi Leonard</a></td>
                    </tr>
                    <tr>
                      <td><a href="{{url_for('player')}}">Anthony Davis</a></td>
                    </tr>
                    <tr>
                      <td><a href="{{url_for('player')}}">Luka Doncic</a></td>
                    </tr>
                    <tr>
                      <td><a href="{{url_for('player')}}">Joel Embiid</a></td>
                    </tr>
                    <tr>
                      <td><a href="{{url_for('player')}}">Pascal Siakam</a></td>
                    </tr>
                    <tr>
                      <td><a href="{{url_for('player')}}">Kemba Walker</a></td>
                    </tr>
                    <tr>
                      <td><a href="{{url_for('player')}}">Trae Young</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
