/********** JUMBOTRON ************/

.jumbo-search-custom {
  background-color: #cf5300;
  color: black;
  padding: 30px 0;
}

.jumbo-search-title-custom {
  margin-bottom: 40px;
  margin-right: 20px;
  color: black;
  font-size: 45px;
  font-weight: 500;
  text-align: center;
  display: inline;
}

.jumbo-search-button-custom {
  font-size: 25px;
  padding: 5px;
  background-color: #222;
}

.jumbo-search-button-custom:hover {
  text-decoration: none;
  background-color: black;
  text-shadow: 0 0 2px white;
}

.search-input-field {
  font-size: 30px;
}
/********** MODEL TABLES ************/

.model-container-custom {
  margin-top: 50px;
}

.model-container-custom h2 {
  color: white;
}

.model-container-custom a {
  text-decoration: none;
  color: #ff6600;
}

.table-header-button-custom {
  color: white;
  background-color: #111;
  border: none;
}

.table-header-button-custom:focus {
  outline: none;
}
.model-container-custom a:hover {
  text-shadow: 0 0 2px #ff6600;
}

.win {
  color: rgb(1, 189, 1);
}

.lose {
  color: rgb(241, 52, 52);
}
