/********** TEAM DATA ************/
.back-button-custom {
  margin-left: 10%;
  margin-top: 10px;
  color: white;
  background-color: black;
}

.back-button-custom:hover {
  text-decoration: none;
  background-color: black;
  text-shadow: 0 0 2px white;
}

.row {
  margin-top: 30px;
}
.card-header-custom {
  font-size: 40px;
  padding: 0;
}

.card-header-text-custom {
  padding: 0;
  background-color: black !important;
}

.card-header-custom h4 {
  font-size: 40px;
}
.team-custom {
  font-size: 30px;
  background-color: #151515;
}

.team-custom li {
  padding: 10px 0;
}

.attribute-separator {
  font-size: 20px;
  color: rgb(122, 121, 121);
}

/********** GAMES LINK ************/

.games-link-custom {
  height: 50px;
  font-size: 30px;
  margin-bottom: 20px !important;
  background-color: black !important;
}

.games-link-custom a {
  text-decoration: none;
  color: #ff6600;
}

.games-link-custom a:hover {
  font-weight: 600;
}

/********** PLAYERS TABLE ************/
.player-table-custom th {
  font-size: 25px;
}

.player-table-custom a {
  text-decoration: none;
  color: #ff6600;
}

.player-table-custom a:hover {
  text-shadow: 0 0 2px #ff6600;
}
